


body {
  background-image: url("https://png.pngtree.com/png-vector/20220925/ourmid/pngtree-seamless-pattern-of-pokeball-icon-on-gray-backgroundvector-illustration-vector-png-image_22859508.jpg"); 
  background-repeat: repeat-y repeat-x;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
